.card-header-new {
    
}
.card-header-new.card {
    background-color: transparent !important;
    border: none;
    box-shadow: none;
    border-radius: 0%;
}
.card-header-new .heading-primary {
    font-weight: 900;
    font-size: 43px;
    font-family: 'Roboto';
    color: #350747;
}
.card-header-new .heading-tertiary {
    font-weight: 500;
    font-size:20px;
    color:#350747;
}
.card-header-new .selector-container{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    padding:20px;
    margin-top:20px;
    border-bottom: 2px solid black;
}
.card-header-new .selector-container .selector-tabs {
    display: flex;
    flex-direction: row;
    font-size:25px;
    
}
.card-header-new .selector-container .selector-tabs li {
    margin-right: 30px;
    cursor: pointer;
}