.collection {
    
}
.collection .container-w-min-w{
    min-height: calc(100vh - 80px);
}
.collection .card-header-col {
    padding-bottom:15px;
}

.collection .txt-public-sale {
    margin-top: 20px;
    display: block;
    font-size: 30px;
    font-weight: 400;
    border-bottom:2px solid black;
    padding:15px 0px;
    margin-left:40px;
}
.collection .container-collection {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
    
}
@media only screen and (max-width: 1400px) { 
    
} 
@media only screen and (max-width: 1050px) { 
    .collection .container-collection {
        grid-template-columns: 1fr 1fr;
    }
    .collection .txt-public-sale {
        font-size: 24px;
    }
}
@media only screen and (max-width: 700px) { 
    .collection .container-collection {
        grid-gap:20px;
    }
}
@media only screen and (max-width: 865px) {
    .collection .txt-public-sale {
        margin-left: 0;
    }
}
@media only screen and (max-width: 520px) {
    .collection .container-collection {
        grid-template-columns: 1fr;
    }
    .collection .txt-public-sale {
        font-size: 18px;
    }
    .collection .txt-public-sale {
        border-bottom:1px solid black;
    }
}
