

.card-info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 30px;
    padding-top: 10px;
    grid-gap: 30px;
}
.card-value {
    background-color: white;
    padding:15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 7px !important;
}
.card-grid .illustrate {
    margin-top:30px;
}
.card-grid .title-secondary {
    font-size: 14px;
    color:black;
    font-weight: 600;
}
.footer-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top:30px;
    font-weight: 600;
    font-size: 18px;
    width: 100%;
}
.card-grid .footer-card .info-detail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding:0px 20px;
}
.card-grid .footer-card .info-detail .left-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card-grid .footer-card .info-detail .label {
    font-size: 14px;
    line-height: 16px;
    color: #868686;
    font-weight: 500;
}
.card-grid .footer-card .info-detail .right-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.info-token {
    justify-content: space-between;
}
.info-token .card-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.info-token .price {
    color: #E4752E;
    font-weight: 700;
    font-size: 40px;
}
.info-liquidity  {
    display:flex;
    justify-content: flex-start;
}
.info-liquidity .coming-soon {
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:30px;
    color:#E4752E;
    font-weight: 600;
}
.info-liquidity .percent-chart {
    font-size:40px;
    font-weight: 600;
    color:#E4752E;
    width:150px;
    height:150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background:conic-gradient( 
        #E4752E 100deg,
        rgba(53, 7, 71, 0.3) 0 180deg, 
        #E4752E 0)
}
.bg-st {
    width:130px;
    height:130px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: white;
}
@media only screen and (max-width: 1200px) {
    .card-info {
        width: 100%;
        height:auto;
        overflow: scroll;
        padding-bottom:10px;
        grid-gap: 0px;
    }
    .card-info::-webkit-scrollbar {
        display: none;
    }
    .card-grid {
        min-width: 350px;
    }
    
}
@media only screen and (max-width: 1000px) {
    .card-grid {
        min-width: 270px;
    }
}
@media only screen and (max-width: 865px) {
    .card-info {
        padding-left: 0px;
    }
}
@media only screen and (max-width: 520px) {
    .card-grid {
        min-width: 240px;
        grid-gap: 0px;
    }
    .card-info {
        padding-top:0px;
    }
    .card-grid .title-secondary {
        font-size:13px;
    }
    .card-grid .footer-card .info-detail {
        font-size: 13px;
    }
    .card-grid .footer-card {
        font-size:13px;
    }
    .info-liquidity .percent-chart {
        width:100px;
        height:100px;
    }
    .bg-st { 
        width:80px;
        height:80px;
        font-size: 20px;
    }
}