.game-flappybird {
    width:100vw;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    background-image: url('../../assets/ari-bird/bg-game.jpeg');
    background-size: cover;
}
.game-flappybird .overlay {
    background-color: rgba(0,0,0,0.4);
    position:absolute;
    z-index: -1;
}
.game-flappybird iframe {
    width:90vw;
    height:90vh;
}