.card-video {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black !important;
}
.card-video video {
    width: 100%;
    object-fit: cover;
    pointer-events: none;
    outline: none;
    border-radius: 20px;
}