.list-group.card {
    background-color: transparent;
    overflow: hidden;
    margin-bottom: 40px;
    position: relative;
}
.list-group table {
    border: 1px solid #CCCCCC;
    border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    box-shadow: 0 1px 1px #CCCCCC;
}
.list-group .no-result {
    padding:10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.list-group table th {
    background-color: #acb4b5;
    padding:10px 0px;
    text-transform: uppercase;
    font-weight: 600;
    color: white;
}

.list-group table td {
    cursor: pointer;
    text-align: center;
    padding:10px;
    width:15%;
}
.list-group table tr:not(:last-child) {
    border-bottom: 2px solid white;
}
.list-group table td.to-deal {
    font-weight: 600;
}
.list-group table .icon {
    font-size: 30px;
    color:  #E4752E;
}
.list-group table td .btn-nobg{
    background-color: transparent;
    border: 1px solid #E4752E;
    padding:7px 0px; 
    color: #E4752E; 
    font-weight: 600;  
    border-radius: 10px;
    transition:all .3s;
}
.list-group table td .btn-nobg:hover {
    background-color: #E4752E;
    color:white;

}
.list-group table td .btn-nobg:active{
    background-color: transparent;
}
.list-group table tr {
    transition:all .3s;
}
.list-group table tr:hover{
    background-color: #dbdbdb;
}