
.navbar {
    position: fixed;
    background-color:white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    padding-right:30px;
    width:100%;
    box-sizing: border-box;
    height:75px;
    top:0;
    left:0;
    z-index: 10;
}
.navbar img {
    width:230px;
}
.navbar .menu-btn {
    display: none;
    font-size:30px;
    color:#E4752E;
    cursor: pointer;
}
.navbar .account {
    padding:10px 30px;
    border-radius: 20px;
    background-color: #E4752E;
    font-weight: 600;
    color:white;
    transition:all .3s;
    cursor:pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 17px 0 rgba(0, 0, 0, 0.19);
}
.navbar .account:hover {
    background-color: #d66925;
}
.navbar .account:active {
    background-color:#E4752E;
}
.navbar .btn-primary {
    background-color:  #E4752E;
    padding:8px 35px;
    font-weight: 700;
    font-size: 18px;
    color:white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 17px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}
@media only screen and (max-width: 865px) {
    .navbar .menu-btn {
        display: block;
    }
}
@media only screen and (max-width: 520px) {
    .navbar img {
        width:170px;
    }
    .navbar .btn-primary {
        padding:6px 18px;
        font-size: 15px;
     }
     .navbar {
         padding: 0px 20px;
     }
     .navbar .menu-btn {
         font-size:20px;
     }
}