body {
    font-family: 'Roboto';
    background-color: #E5E5E5;
    padding: 0;
    margin:0;
}

.navbar {
    position: fixed;
    background-color:white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
    width:100%;
    box-sizing: border-box;
    height:75px;
    top:0;
    left:0;
    z-index: 10;
}
.navbar .btn-primary {
    background-color:  #E4752E;
    padding:8px 35px;
    font-weight: 700;
    font-size: 18px;
    color:white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 17px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}