.sidebar {
    position:absolute;
    height:100%;
    top:0;
    left:0;
    padding-top:100px;
    background-color: #350747;
    color:white;
    box-sizing: border-box;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition:all .3s;
    z-index: 9;
}

.sidebar::-webkit-scrollbar {
    display: none;

}
    
    
.sidebar .list-item {
    list-style: none;
    margin:0;
    padding:0;
    margin-bottom: 20px;
}
.sidebar .list-item .item {
    width:250px;
    color:#E4752E;
    box-sizing: border-box;
    text-transform:uppercase;
    font-weight: 700;
    font-size: 17px;
    cursor:pointer;
    
}
.sidebar .list-item .item .left-text {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.sidebar .list-item .item .left-text span{
    margin-left:20px;
}
.title-extra {
    font-size: 13px;
	color: white;
	text-transform: capitalize;
    transition: all .3s;
}

.sidebar .list-item .item .main-item {
    display: none;
    width:100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    transition: all .05s;
    padding:15px 20px;
    box-sizing: border-box;
}
.sidebar .list-item .item .main-item:hover {
    background-color: white;
}
.sidebar .list-item .item .main-item:hover .title-extra {
    color:#E4752E;
}
.sidebar .list-item .item .list-child {
    overflow: hidden;
    list-style: none;
    padding:0;
    font-weight: 300;
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    animation: moveInHeight .8s;
    animation-fill-mode: forwards;
}

.sidebar .list-item .item .list-child .child-item {
    padding: 8px 0px;
    padding-left:60px;
    transition:all .2s;
}
.sidebar .list-item .item .list-child .child-item .icon {
    margin-right: 10px;
}
.sidebar .list-item .item .list-child .child-item:hover {
    background-color: #9A5FB1;
}
.sidebar .list-item .active {
    background-color: white;
}
.sidebar .list-item .active .title-extra {
    color: #E4752E !important;
}
.sidebar .sidebar-bottom {
    display:flex;
    flex-direction: column;
    padding:20px;
    box-sizing: border-box;
}
.sidebar .sidebar-bottom .bottom-front {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 500;
    font-size:14px;
    margin-top: 50px;
    
}
.sidebar .sidebar-bottom .bottom-front .content-coin {
   margin-top:5px;
}
.sidebar .sidebar-bottom .bottom-front .coin-market {
    display:flex;
    flex-direction: column;
}
.sidebar .sidebar-bottom .bottom-front .coin-gecko .coin-icon-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.sidebar .sidebar-bottom .bottom-front .coin-gecko .coin-icon-container .icon{
    width:20px;
    height:20px;
    background-color: white;
    border-radius: 50%;
    display:flex;
    align-items: center;
    justify-content: center;
    color: #350747;
}
.sidebar .sidebar-bottom .bottom-bot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top:15px;
    font-weight: 400;
}
.sidebar .sidebar-bottom .bottom-bot .icon {
    cursor: pointer;
}
.sidebar .sidebar-bottom .bottom-bot .bot-right span {
    margin-left:7px;
}
.rotate-90 {
    transform: rotate(90deg);
    transition:all .1s;
}
@keyframes moveInHeight {
    from {
        max-height: 0px;
        opacity: 0;
    }
    to {
        max-height:500px;
        opacity: 1;
    }
}
@media only screen and (max-width: 865px) {
    #sidebar {
        transform: translateX(-300px)
    }
}
@media only screen and (max-width: 520px) {
    .sidebar {
        width:50%;
    }
    .sidebar .list-item .item {
        font-size: 13px;
        width: 100%;
        
    }
    .sidebar .list-item .item .main-item {
        padding:10px 15px;
    }
    .sidebar .list-item .item .list-child {
        font-size: 10px;
    }
    .sidebar .list-item .item .list-child .child-item { 
        padding: 5px 0px;
        padding-left: 50px;
    }
    .sidebar .sidebar-bottom {
        padding:5px;

        
    }
    .sidebar .sidebar-bottom .bottom-front {
        font-size: 10px;
    }
    .sidebar .sidebar-bottom .bottom-bot {
        margin-top: 5px;
    }
}

