.padding-content {
    overflow-x: hidden;
    overflow-y: scroll;
    padding-top: 75px;
    padding-left: 250px;
    padding-right: 30px;
	height: 100vh;
    box-sizing: border-box;
}
@media only screen and (max-width: 865px) {
    .padding-content {
        padding-left: 30px;
    }
}
@media only screen and (max-width: 520px) {
    .padding-content {
        padding-left: 10px;
        padding-right: 10px;
    }
    
}