.aggregator-message {
    padding: 30px;
    background-color: rgba(6, 208, 231,0.2);
    color:#06CFE7;
    padding:10px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}