.card-chart {
    
}
.card-chart .chart-container {
    padding:30px 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.card-chart .chart-container .left-txt {
    margin-left:20px;
}
.card-chart .chart-container .pie-chart {
    position: relative;
    width: 300px; 
    height: 300px; 
    border-radius: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: conic-gradient( 
        #E05C53 130deg,  
        #513C84 0 230deg, 
        #CB9801 0 260deg,
        #0070C0 0 280deg,
        #00B050 0 305deg,
        #5BCBCC 0)
}
.card-chart .chart-container .pie-chart .overlay-percent {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    border-radius: 50%;
}
.card-chart .chart-container .pie-chart .overlay-percent .percent{
    position: absolute;
    color:white;
}
.card-chart .chart-container .pie-chart .overlay-percent .percent-1 {
    top:100px;
    right:30px;
}
.card-chart .chart-container .pie-chart .overlay-percent .percent-2{
    left:50%;
    transform:translateX(-50%);
    bottom:30px;
}
.card-chart .chart-container .pie-chart .overlay-percent .percent-3{
    top:190px;
    left:30px;
}
.card-chart .chart-container .pie-chart .overlay-percent .percent-4{
    top:140px;
    left:20px;
}
.card-chart .chart-container .pie-chart .overlay-percent .percent-5{
    left:30px;
    top:95px;
}
.card-chart .chart-container .pie-chart .overlay-percent .percent-6 {
    left:80px;
    top:35px;
}
.card-chart .chart-container .pie-chart .total {
    width:150px;
    height:150px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 18px;
    color:#808080;
}
.card-chart .chart-container .left-txt .title-primary {
    display: inline-block;
    background: linear-gradient(180deg, #5BCBCC 0%, #0070C0 100%);
    padding: 5px 10px;
    color:white;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.card-chart .chart-container .left-txt .list-detail {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin-top:20px;
}
.card-chart .chart-container .left-txt .list-detail .item {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 200px;
    
}
.card-chart .chart-container .left-txt .list-detail .item .color {
    width:20px;
    height:20px;
    border-radius: 50%;
}
.card-chart .chart-container .left-txt .list-detail .item .detail {
    margin-left:10px;
    font-size: 20px;
    color: #808080;
    max-width: 70%;
}
.card-chart .txt-info {
    margin-top:20px;
    border-top:1px solid #D8D8D8;
    padding:30px 60px;
    font-size:20px;
    color: #808080;
    line-height: 30px;
}
@media only screen and (max-width: 1360px) {
    .card-chart .chart-container .left-txt  {
        width:50%;
    }

}
@media only screen and (max-width: 1200px) {
    .card-chart .chart-container .left-txt .list-detail {
        grid-gap: 0px;
        grid-template-columns:1fr;
        
    }
    .card-chart .chart-container {
        padding:30px;
    }
    .card-chart .chart-container .left-txt  {
        margin-left:30px;
        width:35%;
    }
}
@media only screen and (max-width: 1000px) {
    .card-chart .chart-container .pie-chart .overlay-percent .percent-1 {
        top:80px;
        right:25px;
    }
    .card-chart .chart-container .pie-chart .overlay-percent .percent-2{
        left:50%;
        transform:translateX(-50%);
        bottom:20px;
    }
    .card-chart .chart-container .pie-chart .overlay-percent .percent-3{
        top:150px;
        left:20px;
    }
    .card-chart .chart-container .pie-chart .overlay-percent .percent-4{
        top:115px;
        left:20px;
    }
    .card-chart .chart-container .pie-chart .overlay-percent .percent-5{
        left:25px;
        top:80px;
    }
    .card-chart .chart-container .pie-chart .overlay-percent .percent-6 {
        left:65px;
        top:30px;
    }
    .card-chart .chart-container .left-txt {
        width:40%;
        overflow: hidden;
    }
    .card-chart .chart-container .pie-chart  {
        width: 250px;
        height:250px;
    }
    .card-chart .chart-container .pie-chart .total {
        width:120px;
        height: 120px;
    }
}
@media only screen and (max-width: 550px) {
    .card-chart .chart-container .left-txt  {
        margin-left:0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        margin-top: 20px;
    }
    .card-chart .chart-container {
        flex-direction: column;
    }
    .card-chart .chart-container .left-txt .list-detail {
        margin-top:10px;
        
    }
    .card-chart .chart-container .left-txt .list-detail .item{
        margin-top:10px;
    }
    .card-chart .chart-container .left-txt .list-detail .item .detail {
        font-size: 13px;
    }
    .card-chart .chart-container .left-txt .list-detail .item .color {
        width:15px;
        height: 15px;
    }
    .card-chart .txt-info {
        font-size: 13px;
        padding:20px 30px;
    }
}